@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-background: #f6f6f7;
  --color-card-bg: #ffffff;
  --color-modal-bg: #fcfcfc;
  --color-sidebar-bg: #ffffff;
  --color-top-bar: #fcfcfc;
  --color-primary: #bedbb0;
  --color-secondary: #9dc888;
  --color-title: #161616;
  --color-btn-text: #161616;
  --color-text: #161616b3;
  --color-input: #bedbb066;
  --color-input-active: #bedbb0;
  --color-placeholder: #16161680;
  --color-input-text: #161616;
  --color-icon-color: #16161680;
  --color-icon-selected: #161616;
  --color-icon-active: #bedbb0;
  --color-boards-hover: #00000033;
  --color-small-btn-primary: #bedbb0;
  --color-small-btn-secondary: #9dc888;
  --color-create: #ffffff;
  --color-create-bg: #000000;
  --color-create-col: #ffffff;
  --color-create-col-bg: #000000;
}

[data-theme="dark"] {
  --color-background: #1f1f1f;
  --color-card-bg: #121212;
  --color-modal-bg: #151515;
  --color-sidebar-bg: #121212;
  --color-top-bar: #161616;
  --color-primary: #bedbb0;
  --color-secondary: #9dc888;
  --color-title: #ffffff;
  --color-btn-text: #161616;
  --color-text: #ffffff80;
  --color-input: #bedbb066;
  --color-input-active: #bedbb0;
  --color-placeholder: #ffffff80;
  --color-input-text: #ffffff;
  --color-icon-color: #ffffff80;
  --color-icon-selected: #ffffff;
  --color-icon-active: #bedbb0;
  --color-boards-hover: #ffffff33;
  --color-small-btn-primary: #bedbb0;
  --color-small-btn-secondary: #9dc888;
  --color-create: #ffffff;
  --color-create-bg: #000000;
  --color-create-col: #000000;
  --color-create-col-bg: #ffffff;
}

[data-theme="violet"] {
  --color-background: #ecedfd;
  --color-card-bg: #ffffff;
  --color-modal-bg: #fcfcfc;
  --color-sidebar-bg: #5255bc;
  --color-top-bar: #ffffff;
  --color-primary: #5255bc;
  --color-secondary: #787ede;
  --color-title: #161616;
  --color-btn-text: #ffffff;
  --color-text: #161616b3;
  --color-input: #5255bc66;
  --color-input-active: #5255bc;
  --color-placeholder: #16161680;
  --color-input-text: #161616;
  --color-icon-color: #16161680;
  --color-icon-selected: #161616;
  --color-icon-active: #5255bc;
  --color-boards-hover: #ffffff33;
  --color-small-btn-primary: #d6d8ff;
  --color-small-btn-secondary: #979cea;
  --color-create: #000000;
  --color-create-bg: #ffffff;
  --color-create-col: #ffffff;
  --color-create-col-bg: #5255bc;
}

@layer base {
  body {
    @apply bg-background text-text font-medium;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-title;
  }

  h4 {
    @apply text-lg;
  }

  input {
    @apply w-full py-3.5 px-5 rounded-md text-input-text ring-1 ring-input focus:ring-input-active;
  }
  p {
    @apply text-text;
  }
}

.card {
  @apply bg-card-bg rounded px-3.5 py-6;
}

.modal {
  @apply bg-modal-bg rounded p-6;
}

.create {
  @apply text-create bg-create-bg size-7 flex justify-center items-center text-2xl rounded mr-1;
}
.create-col {
  @apply text-create-col bg-create-col-bg size-7 flex justify-center items-center text-2xl rounded mr-4;
}
